<!DOCTYPE html>
<html>
<head>
<title>Runde</title>
<style>
	body {
		background-image: url('images/77.jpg');
		background-attachment: fixed;
		background-size: 100% 100%;
	}
  .row {
  display: flex;
}

.column {
  flex: 33.3%;
  padding: 4px;
}
</style>
</head>
<body>
  <center>
    <div class="row">
      <div class="column">
        <img src="images/Werwolf_Dorfbewohner.png" alt="Bild des gewöhnlichen Dorfbewohners">
        <img src="images/Werwolf_Dorfbewohnerin.png" alt="Bild der gewöhnlichen Dorfbewohnerin">
        <img src="images/Werwolf_Hexe.png" alt="Bild der Hexe">
        </div>
      <div class="column">
        <img src="images/Werwolf_Jäger.png" alt="Bild des Jägers">
        <img src="images/Werwolf_Seher.png" alt="Bild des Sehers">
      </div>
    </center>
